<div class="mat-elevation-z8 mt-3 mb-3" >
  <mat-form-field class="ml-3 mt-1">
    <mat-label>Buscar</mat-label>
    <input type="text" (keyup)="filtrar($event)" matInput>
  </mat-form-field>

  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef > NOMBRE  </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element |nombreApellido }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="documento">
      <mat-header-cell *matHeaderCellDef>DOCUMENTO</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.documento }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>EMAIL</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nacimiento">
      <mat-header-cell *matHeaderCellDef>EDAD</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nacimiento |edad }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="pais">
      <mat-header-cell *matHeaderCellDef>PAIS</mat-header-cell>
      <mat-cell *matCellDef="let element"><img src="{{(element.pais |pais).getAttribute('src')}}" style="max-width:15px; margin-right: 5px;"> {{element.pais}}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
  </mat-table>
</div>
