
form{
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #f5f5f5;
  transition: all ease 0.8s;

}
input, button{
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4{
  font-family: 'Poppins', sans-serif;
}

@media(max-width:768px){
  .form{
    text-align: center;
  }
  .container{
    margin-top: 10px;
  }
}
.container-form{
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius:5px;
  min-height: calc(100vh - 60px);
  min-width: calc(100vw - 30%);
  margin: 10px auto 20px auto;
}
.bgValid{
  background-color: #c2f7af59;
}
.inactive{
  background-color: #d7d0d0;
  filter: grayscale(1);

}
.alert-text{
  color:red;
  font-size: 12px;
  margin: 0;
}
.none{
  display: none;
}
.valid-icon{
  color: rgba(46, 221, 46, 0.651);
  transition: all 0.8s ease;
}
.invalid-icon{
  color: rgba(247, 34, 34, 0.651);
  transition: all 0.8s ease;
}
