<div class="container container-form" >
    <h3 style="color:rgba(0, 0, 0, 0.5); font-size: 12px; font-weight: 300; ">Administrar > <span style="font-weight: 600;">Alumnos</span></h3>
    <div [ngSwitch]="showForm">
      <div *ngSwitchCase="true">
        <button mat-flat-button style="color:#32419c; padding-left:0; font-size:12px; font-family: 'Poppins', sans-serif;"(click)="activarForm()"><mat-icon aria-hidden="false">keyboard_arrow_up</mat-icon> Ocultar</button>
      </div>
      <div *ngSwitchCase="false">
        <button mat-flat-button style="color:#32419c; padding-left:0; font-size:12px; font-family: 'Poppins', sans-serif;" (click)="activarForm()"><mat-icon aria-hidden="false" >add_circle</mat-icon> Agregar</button>
      </div>
    </div>
    <form class="form" [formGroup]="formulario" (ngSubmit)="agregarAlumno()" *ngIf="showForm" >
      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-4">
            <mat-form-field appearance="legacy">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" type="text" placeholder="Eduardo Emmanuel" >
            </mat-form-field>
            <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('nombre')?.errors"></i>
            <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('nombre')?.errors && formulario.get('nombre')?.touched" ></i>
            <p><small class="alert-text" *ngIf="formulario.get('nombre')?.errors?.['required'] && formulario.get('nombre')?.touched" >*Ingresa tu nombre</small></p>
          </div>

          <div class="col-lg-3 col-md-4">
            <mat-form-field appearance="legacy">
              <mat-label>Apellido</mat-label>
              <input matInput formControlName="apellido" type="text" placeholder="Riccillo" >
            </mat-form-field>
            <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('apellido')?.errors"></i>
              <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('apellido')?.errors && formulario.get('apellido')?.touched" ></i>
              <p><small class="alert-text" *ngIf="formulario.get('apellido')?.errors?.['required'] && formulario.get('apellido')?.touched" >*Ingresa tu apellido</small></p>
          </div>

          <div class="col-lg-3 col-md-4">
            <mat-form-field appearance="legacy">
              <mat-label>Documento</mat-label>
              <input matInput formControlName="documento" type="text" placeholder="33615758" maxlength="8">
            </mat-form-field>
            <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('documento')?.errors"></i>
              <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('documento')?.errors && formulario.get('documento')?.touched" ></i>
              <p><small class="alert-text" *ngIf="formulario.get('documento')?.errors?.['required'] && formulario.get('documento')?.touched" >*Ingresa tu documento</small></p>
              <p><small class="alert-text" *ngIf="formulario.get('documento')?.errors?.['pattern'] && formulario.get('documento')?.touched" >*Ingresa un documento válido</small></p>
              <p><small class="alert-text" *ngIf="formulario.get('documento')?.errors?.['maxLength'] && formulario.get('documento')?.touched" >*El largo máximo es 8</small></p>
          </div>

          <div class="col-lg-3 col-md-4">
            <mat-form-field appearance="legacy">
              <mat-label>e-mail</mat-label>
              <input matInput formControlName="email" type="email" placeholder="tucorreo@mail.com" >
            </mat-form-field>
            <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('email')?.errors"></i>
            <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('email')?.errors && formulario.get('email')?.touched" ></i>
            <p><small class="alert-text" *ngIf="formulario.get('email')?.errors?.['required'] && formulario.get('email')?.touched" >*Ingresa tu correo</small></p>
            <p><small class="alert-text" *ngIf="formulario.get('email')?.errors?.['email'] && formulario.get('email')?.touched" >*Ingresa un correo valido</small></p>
          </div>
        </div><!--Row-->
      </div><!--Form group-->

      <div class="form-group">
        <div class="row">
          <div class="col-lg-3 col-md-4">
            <mat-form-field appearance= "legacy">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input matInput formControlName="nacimiento" type="date" >
            </mat-form-field>
            <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('nacimiento')?.errors"></i>
            <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('nacimiento')?.errors && formulario.get('nacimiento')?.touched" ></i>
            <p><small class="alert-text" *ngIf="formulario.get('nacimiento')?.errors?.['required'] && formulario.get('nacimiento')?.touched" >*Ingresa tu fecha de nacimiento</small></p>
          </div>

          <div class="col-lg-3 col-md-4">
            <mat-form-field appearance="legacy">
              <mat-label>Pais</mat-label>
              <mat-select formControlName ="pais" class="mr-1 select">
                <mat-option *ngFor="let pais of paises" [value]="pais">{{pais}}</mat-option>
              </mat-select>
            </mat-form-field>
            <i class="fas fa-check-circle valid-icon" *ngIf="!formulario.get('pais')?.errors"></i>
              <i class="fas fa-times-circle invalid-icon" *ngIf="formulario.get('pais')?.errors && formulario.get('pais')?.touched" ></i>
              <p><small class="alert-text" *ngIf="formulario.get('pais')?.errors?.['required'] && formulario.get('pais')?.touched" >*Selecciona un pais</small></p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-lg-1 col-md-1">
            <button mat-raised-button color="secondary" type="submit" style="font-size: 12px;" >Agregar</button>
          </div>

        </div>
      </div>
    </form>

    <app-alumnos-tabla></app-alumnos-tabla>

</div><!--container-->
