nav{
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.384);
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  position:fixed;
  top:0;
  left: 0;
  z-index: 1000;
}
.foto{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  filter: grayscale(1);
}

.container-nav{
  height: 50px;
  margin-bottom: 5px;
}
